<div class="newstore-panel">
    <div ng-if="isSeller" class="stream-item-slider">
        <h4>Firstly:</h4>
        <h6>Edit your stores info and upload your stores background image via the
            <div class="user" style=" position: absolute; margin-top: -28px; margin-left: 200px;"></div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;button.
        </h6>
        <h4>Secondly:</h4>
        <h6>Link your Instagram account to import items pics or add new items
            <div class="additem" style=" position: absolute; margin-top: -28px; margin-left: 115px;"></div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; straight from your phones photo library.
        </h6>
        <h4>Thirdly:</h4>
        <h6>Answer messages, Edit details and promote your items by copying and sharing your items unique url on your
            social
            networks.</h6>
    </div>
    <div ng-if="!isSeller" class="stream-item-slider">
        <br>
        <h6>This store has no items</h6>
        <br>
    </div>
</div>