<div class="rowfree">
    <div class="reveal2 item-transaction-section">
        <p style="text-align: left; margin: 10px 0 0 100px;">2 items sold 3 left</p>
        <br>
        <!--<h2 style="font-size: 120%; font-weight: 200; margin: 20px 10px 40px 10px;">Five people have reserved this item from you.</h2> -->



        <div id="current" class="transaction-section-container">
            <div class="left">
                <a class="hideLink arrow-position">&nbsp;</a>
            </div>

            <a href="profile1.html"><img class="profile-in-transaciton fast-tap" src="/assets/images/background2circle290x290px.jpg">
            </a>

            <div class="right">
                <f1 class="past">Item accepted!</f1>
                <div id="example" class="more">

                    <p>Well done on your successful sale. The balance of <b>$134</b> is now able to be spent on other items in Mobbbi and will be avialable to cash out in <b>10</b> days.
                        <p>

                            <div id="past" class="transaction-section-container">
                                <div class="left">
                                    <a class="hideLink arrow-position">&nbsp;</a>
                                </div>
                                <div class="right">
                                    <f1>Hurry up</f1>
                                    <div id="example" class="more">
                                        <f6>Please hurry up with your transaction and help us run a service that is quick and eficiant for our buys and sellers. Thank you.
                                            <f6>
                                    </div>
                                </div>
                            </div>

                            <div id="past" class="transaction-section-container">
                                <div class="left">
                                    <a class="hideLink arrow-position">&nbsp;</a>
                                </div>
                                <div class="right">
                                    <f1>Item has arrived</f1>
                                    <div id="example" class="more">
                                        <f6>Your item is with the buyer, We will let you know as soon as it gets approval: <b>Delivered in Michigan 36001</b>.
                                            <f6>
                                    </div>
                                </div>
                            </div>


                            <div id="past" class="transaction-section-container">
                                <div class="left">
                                    <a class="hideLink arrow-position">&nbsp;</a>
                                </div>
                                <div class="right">
                                    <f1>Recived in post</f1>
                                    <div id="example" class="more">
                                        <f6>Your shipping label was scanned at: <b>Eagle Rock 90065</b>.
                                            <f6>
                                    </div>
                                </div>
                            </div>

                            <div id="past" class="transaction-section-container">
                                <div class="left">
                                    <a class="hideLink arrow-position">&nbsp;</a>
                                </div>
                                <div class="right">
                                    <f1>Send item</f1>
                                    <div id="example" class="more">
                                        <f6>
                                            <f6>Attatch label to a <b>medium USPS box</b>.
                                                <br>
                                                <br>
                                                <center>
                                                    <div style="margin: 10px 0px 20px 0px;"><a href="#" class="fast-tap btn sml">&nbsp;Pre-paid shipping label&nbsp;</a>
                                                    </div>
                                                </center>
                                                <f6>And give the box to your mailman asap.</f6>
                                    </div>
                                </div>
                            </div>

                            <div id="past" class="transaction-section-container">
                                <div class="left">
                                    <a class="hideLink arrow-position">&nbsp;</a>
                                </div>
                                <div class="right">
                                    <f1>Item sold!</f1>
                                    <div id="example" class="more">
                                        <f6>Place item in a <b>medium USPS box</b>.
                                            <br>
                                            <br>
                                            <select class="sml selector1" style=" width: 260px;margin: -5px 0 10px 0;">
                                                <option value="">Changing box size costs $</option>
                                                <option value="extralarge">Extra large</option>
                                                <option value="large">Large</option>
                                                <option value="medium">Medium</option>
                                                <option value="Small">Small</option>
                                            </select>
                                            <f6>Mobbbi boxes are supplied free to store owners but pleae allow 10 days for delivery. If you need a box now they are available from your local post office.</f6>
                                    </div>
                                </div>
                            </div>

                </div>
            </div>
        </div>


        <div id="current" class="transaction-section-container">
            <div class="left">
                <a class="hideLink arrow-position">&nbsp;</a>
            </div>

            <a href="profile1.html"><img class="profile-in-transaciton fast-tap" src="assets/images/background3circle290x290px.jpg">
            </a>

            <div class="right">
                <f1 class="past">Item accepted!</f1>
                <div id="example" class="more">

                    <p>Well done on your successful sale. The balance of <b>$134</b> is now able to be spent on other items in Mobbbi and will be avialable to cash out in <b>10</b> days.
                        <p>

                            <div id="past" class="transaction-section-container">
                                <div class="left">
                                    <a class="hideLink arrow-position">&nbsp;</a>
                                </div>
                                <div class="right">
                                    <f1>Hurry up</f1>
                                    <div id="example" class="more">
                                        <f6>Please hurry up with your transaction and help us run a service that is quick and eficiant for our buys and sellers. Thank you.
                                            <f6>
                                    </div>
                                </div>
                            </div>

                            <div id="past" class="transaction-section-container">
                                <div class="left">
                                    <a class="hideLink arrow-position">&nbsp;</a>
                                </div>
                                <div class="right">
                                    <f1>Item has arrived</f1>
                                    <div id="example" class="more">
                                        <f6>Your item is with the buyer, We will let you know as soon as it gets approval: <b>Delivered in Michigan 36001</b>.
                                            <f6>
                                    </div>
                                </div>
                            </div>


                            <div id="past" class="transaction-section-container">
                                <div class="left">
                                    <a class="hideLink arrow-position">&nbsp;</a>
                                </div>
                                <div class="right">
                                    <f1>Recived in post</f1>
                                    <div id="example" class="more">
                                        <f6>Your shipping label was scanned at: <b>Eagle Rock 90065</b>.
                                            <f6>
                                    </div>
                                </div>
                            </div>

                            <div id="past" class="transaction-section-container">
                                <div class="left">
                                    <a class="hideLink arrow-position">&nbsp;</a>
                                </div>
                                <div class="right">
                                    <f1>Send item</f1>
                                    <div id="example" class="more">
                                        <f6>
                                            <f6>Attatch label to a <b>medium USPS box</b>.
                                                <br>
                                                <br>
                                                <center>
                                                    <div style="margin: 10px 0px 20px 0px;"><a href="#" class="fast-tap btn sml">&nbsp;Pre-paid shipping label&nbsp;</a>
                                                    </div>
                                                </center>
                                                <f6>And give the box to your mailman asap.</f6>
                                    </div>
                                </div>
                            </div>

                            <div id="past" class="transaction-section-container">
                                <div class="left">
                                    <a class="hideLink arrow-position">&nbsp;</a>
                                </div>
                                <div class="right">
                                    <f1>Item sold!</f1>
                                    <div id="example" class="more">
                                        <f6>Place item in a <b>medium USPS box</b>.
                                            <br>
                                            <br>
                                            <select class="sml selector1" style=" width: 260px;margin: -5px 0 10px 0;">
                                                <option value="">Changing box size costs $</option>
                                                <option value="extralarge">Extra large</option>
                                                <option value="large">Large</option>
                                                <option value="medium">Medium</option>
                                                <option value="Small">Small</option>
                                            </select>
                                            <f6>Mobbbi boxes are supplied free to store owners but pleae allow 10 days for delivery. If you need a box now they are available from your local post office.</f6>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>