<div class="rowfree">
    <div class="reveal5 item-transaction-section">
        <center>

            <div id="content-popup">

                <div style="margin: 10px 0px 0px -10px;">
                    <textarea class="input store-special-qualities" style="width: 240px;" placeholder="Write social post"></textarea>
                </div>

                <div style="display:inline-block;width:100%;margin:0 0 0 0;">

                    <div style=" margin: 22px 0 0px 0px; float: left;">
                        <p>Facebook</p>
                    </div>

                    <div style="margin: 15px 0 0 0px; float: right;">
                        <label class="switch-light switch" onclick="">
                            <input type="checkbox">
                            <span>
				<span id="on">On</span>
                            <span>Off</span>
                            </span>
                            <a></a>
                        </label>
                    </div>
                </div>

                <div style="display:inline-block;width:100%;margin:0 0 0 0;">

                    <div style=" margin: 22px 0 0px 0px; float: left;">
                        <p>Instagram</p>
                    </div>

                    <div style="margin: 15px 0 0 0; float: right;">
                        <label class="switch-light switch" onclick="">
                            <input type="checkbox">
                            <span>
				<span id="on">On</span>
                            <span>Off</span>
                            </span>
                            <a></a>
                        </label>
                    </div>
                </div>

                <div style="display:inline-block;width:100%;margin:0 0 0 0;">

                    <div style=" margin: 22px 0 0px 0px; float: left;">
                        <p>Twitter</p>
                    </div>

                    <div style="margin: 15px 0 0 0; float: right;">
                        <label class="switch-light switch" onclick="">
                            <input type="checkbox">
                            <span>
				<span id="on">On</span>
                            <span>Off</span>
                            </span>
                            <a></a>
                        </label>
                    </div>
                </div>
                <center>
                    <p style="margin: 10px 0px 0px 0px;">Paste a link to your store</p>
                    <div class="url-text" style=" margin: 10px 0 20px 0;">
                        <h4>mobbbi.com/mystorename</h4></div>
                    <div style="margin:5px 0px 20px 0px;"><a href="#" class="fast-tap btn sml">&nbsp;Share item&nbsp;</a>
                    </div>

		</div>
		</center>
	</div>
</div>
            