<div class="grid-container1">
    <div class="outer">
        <div class="middle">
            <div class="inner" id="account-popup">
                <div ui-sref="store" class="x-profile"></div>
                <center>

                    <br>

                    <div class="setting-titles" style="margin: 0 0 20px 0;">
                        <f3>Accounts</f3>
                    </div>

                    <h6 style="display: inline-block;margin: 20px;clear:both;">Accounting period</h6>

                    <div style="inline: block; width: 240px; margin: 0 0 0 0;">
                        <div style="float: left; margin: 0px 0px 0px 0px;">
                            <input id="textfield11" type="text" placeholder="DD/MM/YYYY">
                        </div>

                        <span>to</span>

                        <div style="float: right; margin: 0px 0px 0px 10px;">
                            <input id="textfield12" type="text" placeholder="DD/MM/YYYY">
                        </div>
                    </div>

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h3>Accounts table goes here</h3>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <div style=" margin: 0 0 15px 0; float: center;">
                        <div ui-sref='store' class="btn sml">&nbsp;Done&nbsp;</div>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>